
:root{
    --primary-font: "";
}

.header-background-image{
    background-image: url(../images/sydney.jpg);
    background-size: cover;
    height: 100vh;
}

.header-background-image h1{
    display: inline;
    font-size: 3em;
}

.header-background-image img{
    margin: 2em 0em 0em 2em;
}