ul {
    list-style-type: none;
}

.border-b-grey{
  border-bottom: 1px solid rgb(137, 137, 137)!important;
}

.border-t-grey{
  border-top: 1px solid rgb(137, 137, 137)!important;
}


.ml-sm{
  margin-left: 0.5em!important;
}

#bg-arg{
  background-image: url(https://i.ibb.co/HxMnrF5/Argentina-main.jpg);
}

.bg-custom-fix{
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative !important;
}

.margin-y-2{
  margin: 2em 1em;
}

.padding-2{
  padding: 2em;
}

.margin-top{
  margin-top: 1em;
}