
/* general styles*/

.darken{
    background-color: #0000004d;
    background-blend-mode: darken;
}

ul {
    list-style-type: none;
}

.m-y-05{
    margin: 0.5em auto;
}

.m-y-4{
    margin:4em auto;
}

.p-2{
    padding: 2em;
}
/* header section*/

.header-container{
    background-image: url(../images/germany-landscape.jpg);
    background-size: cover;
    height: 90vh;
}

.brand-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.brand-container img{
    margin: auto 2em;
}

.main-title{
    height: 50%;
    display: flex;
    justify-content: center;
    margin: 4em;
}

/* finish header section*/

/* programs section*/

    .programs-list-container li {
        padding: 1em 0em;
    }

    .programs-list-container ul{
        padding: 4em;
    }

/* finish programs section*/

/* carousel section*/

.carousel-item{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.carousel-info{
    position: absolute;
    margin: 3em;
}

/* finish carousel section*/

/* about us section*/

.about-us .image{
    background-image: url(../images/estudiantes-vertical.jpg);
    background-position: center ;
    background-size: cover;
    margin: 1em;
    height: 70vh;
}

/* finish about us section*/

/* mentions section*/

    .mentions .row{
        gap:2em;
    }

/* finish mentions section*/

